#
# Asuro.config
#
# direct upload configuration for linux using /dev/ttyS0
#

name Asuro
maxsize 512  # Asuro is based on Mega8

# info on target
target Asuro
filename /dev/ttyS0
speed 2400

# load lists of native methods
native System
native PrintStream
native StringBuffer
native StringBuilder
native Asuro
