#
# Ctbot.config
#
# direct upload configuration for linux using /dev/ttyS0
#

name Ctbot
maxsize 8192  # Ctbot is based on Mega32 using 8k of flash memory

# info on target
target UART
filename /dev/ttyS0
speed 2400

# load lists of native methods
native System
native PrintStream
native StringBuffer
native StringBuilder
native Math
native Formatter
native ctbot/Bot
native ctbot/Clock
native ctbot/Display
native ctbot/DistanceSensor
native ctbot/EdgeDetector
native ctbot/IrReceiver
native ctbot/LdrSensor
native ctbot/Leds
native ctbot/LightBarrier
native ctbot/LineDetector
native ctbot/Motor
native ctbot/Mouse
native ctbot/Servo
native ctbot/ShutterSensor
native ctbot/WheelEncoder
