#
# Nibo.config
#
# direct upload configuration for linux using /dev/ttyS0
#

name Nibo
maxsize 131072  # Nibo is based on an ATmega128 using 128k of flash memory

# info on target
target UART
filename /dev/ttyS0
speed 2400

# load lists of native methods
native System
native PrintStream
native StringBuffer
native StringBuilder
native Math
native Formatter
native nibo/Bot
native nibo/Clock
native nibo/TextDisplay
native nibo/GraphicDisplay
native nibo/DistanceSensor
native nibo/EdgeDetector
native nibo/IrTransceiver
native nibo/Leds
native nibo/LineDetector
native nibo/Motor
native nibo/WheelEncoder
