#
# UnixTest.config
#

name UnixTest
maxsize 65536  # unix supports big files

target file    # write to file named classname.nvm

# load lists of native methods, fields etc ...
native System
native PrintStream
native InputStream
native StringBuffer
native StringBuilder
native Math
native Formatter
